@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>SOTFAST</h1>
    <p class="lead">Un sistema que cambiara la vida de ti, y tus empleados, no lo piensas mas sotfast es la solucion.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Registrate &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>En que nos encargamos</h2>
        <img src="~/IMG/GET.jpg" style="width: 50%" />
        <p>
            Sotfast, Es un softwar el cual permite realizar un mantenimiento como soporte tecnico a los
            ordenadores de tù empresa.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">¿Quieres saber mas? &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nuestros clientes</h2>
        <img src="~/IMG/gett.jpg" style="width: 20%" />
        <p>Nuestro sotfware te acompaña a mejor sistema, como nuestro clientes que estan con nostros dìa a dìa, por un mejor sistema</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866"> &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>¿quieres conocernos un poco mas?</h2>
        <img src="~/IMG/gets.png" style="width: 30%" />
        <p>Nuestro sotfware mantiene un ordenador optimo, maneja cualquier incidencia y adicional proteje de las amenasas.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">conocenos mas &raquo;</a></p>
    </div>
</div>